<div class="app-content content">
  <div class="content-wrapper">
    <div class="center">
      <h1 class="text-center">Contact Us</h1>
    </div>
    <hr />
    <br />
      <div>
        <u><h1>Conveners: </h1></u>
        <div class="info">
          <h1 class="black">Mrs. M. S. Bhuvaneswari <br/>Assistant Professor (Sr. Grade)</h1>
          <p class="black">Department of CSE</p>
          <p class="black">Mobile No: +91 94438 71421</p>
        </div>
      </div>
      <div>
        <div class="info">
          <h1 class="black">Mr. M. Thiruvannamalai  <br/>Assistant Professor</h1>
          <p class="black">Department of Civil </p>
           <p class="black">Mobile No: +91 81240 89864</p>
        </div>
      </div>
      <div>
        <div class="info">
          <h1 class="black">For Futher Queries</h1>
          <p>Mail us at <a href="mailto:gyanmitra20@mepcoeng.ac.in"><strong>gyanmitra20@mepcoeng.ac.in</strong></a></p>
        </div>
      </div>
    </div>
</div>
