<div class="app-content content">
  <div class="content-wrapper">
    <div class="center">
      <h1 class="text-center">Contact Us</h1>
    </div>
    <hr />
    <br />
    <u><h1>Conveners: </h1></u>
      <div>
        <div class="info">
          <h1 class="black">Mrs. M. S. Bhuvaneswari <br/>Assistant Professor (Sr. Grade)</h1>
          <p class="black">Department of CSE</p>
          <p class="black">Mobile No: +91 94438 71421</p>
        </div>
      </div>
      <div>
        <div class="info">
          <h1 class="black">Mr. M. Thiruvannamalai  <br/>Assistant Professor</h1>
          <p class="black">Department of Civil </p>
           <p class="black">Mobile No: +91 81240 89864</p>
        </div>
      </div>
      <h1><u>Domain Co-ordinators: </u></h1>
      <div>
        <div class="info">
          <h1 class="black">Ms. J. Jeyanthi<br/>Assistant Professor (Sr. Grade)</h1>
          <p class="black">Domain of Civil</p>
          <p class="black">Mobile No: +91 97862 78347</p>
          <p class="black">E-mail: <a href="mailto:gyanmitra20.civil@mepcoeng.ac.in">gyanmitra20.civil@mepcoeng.ac.in</a></p>
        </div>
        <div>
          <div class="info">
            <h1 class="black">Dr. A. Allwyn Clarence Asis<br/>Associate Professor</h1>
            <p class="black">Domain of EEE</p>
            <p class="black">Mobile No: +91 94423 24535</p>
            <p class="black">E-mail: <a href="mailto:gyanmitra20.eee@mepcoeng.ac.in">gyanmitra20.eee@mepcoeng.ac.in</a></p>
          </div>
      </div>
      <div>

        <div class="info">
          <h1 class="black">Dr. B. Vijayakumari<br/>Associate Professor</h1>
          <p class="black">Domain of ECE</p>
          <p class="black">Mobile No: +91 90034 61266</p>
          <p class="black">E-mail: <a href="mailto:gyanmitra20.ece@mepcoeng.ac.in">gyanmitra20.ece@mepcoeng.ac.in</a></p>
        </div>
    </div>
    <div>
          <div class="info">
            <h1 class="black">Dr. S. Kavi Priya<br/>Associate Professor</h1>
            <p class="black">Domain of CSE/IT</p>
            <p class="black">Mobile No: +91 98422 95563</p>
            <p class="black">E-mail: <a href="mailto:gyanmitra20.cseit@mepcoeng.ac.in">gyanmitra20.cseit@mepcoeng.ac.in</a></p>
          </div>
      </div>
      <div>
        <div class="info">
          <h1 class="black">Ms. M. Indiraleka<br/>Assistant Professor</h1>
          <p class="black">Domain of BioTech</p>
          <p class="black">Mobile No: +91 74023 89414</p>
          <p class="black">E-mail: <a href="mailto:gyanmitra20.bt@mepcoeng.ac.in">gyanmitra20.bt@mepcoeng.ac.in</a></p>
        </div>
    </div>
    <div>
      <div class="info">
        <h1 class="black">Mr. K. Maheswaran<br/>Assistant Professor (Sr. Grade)</h1>
        <p class="black">Domain of Mechanical</p>
        <p class="black">Mobile No: +91 94420 66526</p>
        <p class="black">E-mail: <a href="mailto:gyanmitra20.mech@mepcoeng.ac.in">gyanmitra20.mech@mepcoeng.ac.in</a></p>
      </div>
    </div>
    <div>
      <div class="info">
        <h1 class="black">Mr. K. Kanagaraj<br/>Assistant Professor (Sr. Grade)</h1>
        <p class="black">Domain of MCA</p>
        <p class="black">Mobile No: +91 99408 40671</p>
        <p class="black">E-mail: <a href="mailto:gyanmitra20.mca@mepcoeng.ac.in">gyanmitra20.mca@mepcoeng.ac.in</a></p>
      </div>
    </div>
    <div>
      <div class="info">
        <h1 class="black">Mrs. S. Saratha Devi<br/>Assistant Professor (Sr. Grade)</h1>
        <p class="black">Domain of Science & Humanities</p>
        <p class="black">Mobile No: +91 98407 60745</p>
        <p class="black">E-mail: <a href="mailto:gyanmitra20.sh@mepcoeng.ac.in">gyanmitra20.sh@mepcoeng.ac.in</a></p>
      </div>
    </div>
    <div>
      <div class="info">
        <h1 class="black">For Futher Queries</h1>
        <p>Mail us at <a href="mailto:gyanmitra20@mepcoeng.ac.in"><strong>gyanmitra20@mepcoeng.ac.in</strong></a></p>
      </div>
    </div>
    </div>
</div>
