<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <span class="content-header-left h3 col-md-3 col-3 mb-3">
        <span class="content-header-title">Workshops (Jan 24)</span>
      </span>
      <span class="content-header-left col-md-5 col-5 mb-5">
        <div class="form-group">
          <input
            type="text"
            class="form-control round"
            placeholder="Search"
            [(ngModel)]="searchText"
          />
        </div>
        <!-- <select
          id="deptSelect"
          (click)="filter()"
          [(ngModel)]="searchText"
          class="custom-select float-right"
        >
          <option
            class="custom-select"
            *ngFor="let dept of departments"
            value="{{ dept.name }}"
          >
            {{ dept.name }}
          </option>
        </select> -->
      </span>
      <!-- Home-Workshop removed by Siddeshwar and Sivasanjeevi on 21/12/19, 11:30am -->
      <!-- <span class="content-header-right col-md-3 col-3">
        <div class="breadcrumbs-top float-md-right">
          <div class="breadcrumb-wrapper mr-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/user/home']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}">Home</a>
              </li>
              <li class="breadcrumb-item active">Workshops
              </li>
            </ol>
          </div>
        </div>
      </span> -->
      <!-- Pagination commented by Siddeshwar on 27/12/19 -->
      <!-- <span class="content-header-right col-md-3 col-3 offset-3">
        <div class="row float-right white">
          <span *ngIf="this.currentPage != 1">
            <span class="btn btn-sm btn-info" (click)="previousPage()">
              &lt;
            </span>
          </span>
          &nbsp; Page {{ currentPage }} &nbsp;
          <span class="btn btn-sm btn-info" (click)="nextPage()"> &gt; </span>
        </div>
      </span> -->
    </div>
  </div>
  <div class="alert alert-warning col-10 offset-1">
    <i class="fas fa-cart-arrow-down"> </i> &nbsp; Early bird offer: Discounted
    Workshop and Event prices. (only upto January 18 2020)
  </div>
  <div class="content-body">
    <section id="content-types">
      <div class="row match-height">
        <div
          class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
          *ngFor="
            let workshop of workshops | filterEventsBasedOnTitle: searchText
          "
        >
          <div class="card pull-up">
            <div class="card-body">
              <h3 class="card-title">
                {{ workshop.title }}
                <span
                  class="card-title activator grey-text text-darken-4 float-right"
                  ><i class="fas fa-ellipsis-v right"></i
                ></span>
              </h3>
              <h6 class="card-subtitle text-muted">
                Department of {{ workshop.department_id.name }}
              </h6>
            </div>
            <img
              class="activator card-image"
              src="http://gyanmitra20.mepcoeng.ac.in/assets/images/events/{{
                workshop.image_name
              }}"
            />
            <div class="card-body">
              <p class="card-text">
                Registration Fee:
                <span class="strikethrough"
                  >&#x20B9;{{ workshop.amount + 100 }}</span
                >&nbsp;<span class="amount">&#x20B9;{{ workshop.amount }}</span>
              </p>
              <p class="card-text" *ngIf="workshop.resource_person">
                    Resource Persons :
                  {{ workshop.resource_person }}
              </p>
            </div>
            <div class="card-reveal">
              <!-- <span class="card-title grey-text text-darken-4"
                >Pre Requesites<i class="fas fa-times float-right"></i
              ></span>
              <ul>
                <li *ngFor="let rule of workshop.rules | rulesTransform">
                  {{ rule }}
                </li>
              </ul>
              <hr />
              -->
              <div>
                <span class="card-title grey-text text-darken-4"
                  >Timing<i class="fas fa-times float-right"></i
                ></span>
                Date : {{ workshop.event_date | date }}
                {{ workshop.start_time }} -
                {{ workshop.end_time }}
              </div>
              <!-- <ul>
                <li *ngFor="let desc of workshop.description | rulesTransform">
                  {{ desc }}
                </li>
              </ul> -->
              <!-- <hr />
              <h4>Timing</h4> -->
            </div>
            <div
              class="card-footer border-top-blue-grey border-top-lighten-5 text-muted"
            >
              <span class="float-left"> {{ workshop.event_date | date }}</span>
              <span class="float-right">
                <div *ngIf="registrationEnabled && workshopEnabled">
                  <ng-container *ngIf="user; else notLoggedIn">
                    <ng-container
                      *ngIf="user.cart_confirmed; else cartNotConfirmed"
                    >
                      <button
                        type="button"
                        class="btn btn-outline-danger"
                        style="width:100%"
                      >
                        Cart already Confirmed
                      </button>
                    </ng-container>
                    <ng-template #cartNotConfirmed>
                      <div *ngIf="registeredEvents.length == 0">
                        <button
                          type="button"
                          class="btn btn-outline-primary"
                          (click)="selectWorkshop(workshop._id)"
                          style="width:100%"
                        >
                          Add to cart <i class="la la-angle-right"></i>
                        </button>
                      </div>
                      <div *ngIf="registeredEvents.length != 0">
                        <button
                          type="button"
                          class="btn btn-sm round btn-bg-gradient-x-purple-red"
                          style="width:100%"
                        >
                          You have a Parallel Workshop | Already Registered
                        </button>
                      </div>
                    </ng-template>
                  </ng-container>
                  <ng-template #notLoggedIn>
                    <a
                      class="btn btn-outline-primary"
                      style="width:100%"
                      [routerLink]="['/user/login']"
                      [routerLinkActive]="['active']"
                      [routerLinkActiveOptions]="{ exact: true }"
                      >Login to Register</a
                    >
                  </ng-template>
                </div>
                <!-- <div *ngIf="!registrationEnabled"> -->
                <!-- <div *ngIf="workshopEnabled">
                  <button type="button" class="btn btn-sm round btn-bg-gradient-x-purple-red" style="width:100%">
                    Registrations are Closed
                  </button>
                </div> -->
                <div *ngIf="!workshopEnabled">
                  <button
                    type="button"
                    class="btn btn-sm round btn-bg-gradient-x-purple-red"
                    style="width:100%"
                  >
                    Workshop Registrations are Closed
                  </button>
                </div>
                <!-- </div> -->
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
