.navbar-brand img {
  height: 50px;
  width: 220px;
}

img {
  vertical-align: middle;
  width: 30px;
  height: 20px;
}
img:hover {
  animation: fadeInOut;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
*,
::after,
::before {
  box-sizing: border-box;
}

@keyframes fadeInOut {
  0% {
    filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 0));
  }
  100% {
    filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.445));
  }
}
