<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">GyanMitra18</h3>
      </div>
      <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
          <div class="breadcrumb-wrapper mr-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a
                  [routerLink]="['/user/home']"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Home</a
                >
              </li>
              <li class="breadcrumb-item active">GyanMitra18</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="content-body">
      <section id="content-types">
        <div class="row match-height justify-content-md-center">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <h3 class="card-title text-center text-uppercase">Gallery</h3>
                  <div class="divider"></div>
                </div>
                <!-- Carousel Inicators added by Siddeshwar Navaneetharan on 20-12-19,9:20 am -->
                <div class="card-body text-center">
                  <div class="row text-center">
                    <div class="col-1"></div>
                    <div class="col-10 text-center">
                      <div
                        id="carouselExampleIndicators"
                        class="carousel slide"
                        data-ride="carousel"
                      >
                        <ol class="carousel-indicators">
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="0"
                            class="active"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="1"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="2"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="3"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="4"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="5"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="6"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="7"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="9"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="10"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="11"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="12"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="13"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="14"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="15"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="16"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="17"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="18"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="19"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="20"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="21"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="22"
                          ></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img
                              class="d-block"
                              style="width:100%"
                              src="public/images/Gallery/DSC_0465w.jpg"
                              alt="First slide"
                            />
                          </div>
                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0450(WEB).jpg"
                              alt="Second slide"
                              style="width:100%"
                            />
                          </div>
                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0451w.jpg"
                              alt="Fourth slide"
                            />
                          </div>
                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0452w.jpg"
                              alt="Fifth slide"
                            />
                          </div>
                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0453w.jpg"
                              alt="Sixth slide"
                            />
                          </div>
                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0454w.jpg"
                              alt="Seventh slide"
                            />
                          </div>
                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0455w.jpg"
                              alt="Eigth slide"
                            />
                          </div>
                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0456w.jpg"
                              alt="Ninth slide"
                            />
                          </div>
                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0457w.jpg"
                              alt="Tenth slide"
                            />
                          </div>
                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0458w.jpg"
                              alt="Eleventh slide"
                            />
                          </div>
                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0459w.jpg"
                              alt="Twelfth slide"
                            />
                          </div>
                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0460w.jpg"
                              alt="Thirteenth slide"
                            />
                          </div>
                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0461w.jpg"
                              alt="Fourteenth slide"
                            />
                          </div>
                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0462w.jpg"
                              alt="Fifteenth slide"
                            />
                          </div>

                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0462w.jpg"
                              alt="Sixteenth slide"
                            />
                          </div>

                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0463w.jpg"
                              alt="Seventeenth slide"
                            />
                          </div>

                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0464w.jpg"
                              alt="Eighteenth slide"
                            />
                          </div>

                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0466w.jpg"
                              alt="Nineteenth slide"
                            />
                          </div>

                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0467w.jpg"
                              alt="Twentieth slide"
                            />
                          </div>

                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0468w.jpg"
                              alt="Twentyfirst slide"
                            />
                          </div>

                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0469w.jpg"
                              alt="Twentysecond slide"
                            />
                          </div>

                          <div class="carousel-item">
                            <img
                              class="d-block w-100"
                              src="public/images/Gallery/DSC_0472w.jpg"
                              alt="Twentythird slide"
                            />
                          </div>
                        </div>

                        <a
                          class="carousel-control-prev"
                          href="#carouselExampleIndicators"
                          role="button"
                          data-slide="prev"
                        >
                          <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </a>
                        <a
                          class="carousel-control-next"
                          href="#carouselExampleIndicators"
                          role="button"
                          data-slide="next"
                        >
                          <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row match-height justify-content-md-center">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <h3 class=" size2 card-title text-center text-uppercase ">
                    <i class="fas fa-trophy"></i> Overall Winner
                    <i class="fas fa-trophy"></i>
                  </h3>
                  <div class="divider"></div>
                </div>
                <div class="card-body text-center white">
                  <h2>PSNA College of Engineering, Dindigul</h2>
                </div>
                <div class="card-body">
                  <h3 class=" size2 card-title text-center text-uppercase ">
                    <i class="fas fa-medal"></i> Domain wise Winners
                    <i class="fas fa-medal"></i>
                  </h3>
                  <div class="divider"></div>
                </div>
                <div class="card-body text-center">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sl. No</th>
                          <th>Domain</th>
                          <th>College</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            1
                          </td>
                          <td>
                            CIVIL
                          </td>
                          <td>
                            Bharathiyar College of Engineering and
                            Technology,Puducherry
                          </td>
                        </tr>
                        <tr>
                          <td>
                            2
                          </td>
                          <td>
                            EEE
                          </td>
                          <td>
                            SSM College Of Engineering,Chennai
                          </td>
                        </tr>
                        <tr>
                          <td>
                            3
                          </td>
                          <td>
                            ECE
                          </td>
                          <td>
                            K.L.N. College of Engineering,Madurai
                          </td>
                        </tr>
                        <tr>
                          <td>
                            4
                          </td>
                          <td>
                            CSE/IT
                          </td>
                          <td>
                            Kamaraj College of Engineering and
                            Technology,Virudhunagar
                          </td>
                        </tr>
                        <tr>
                          <td>
                            5
                          </td>
                          <td>
                            MECH
                          </td>
                          <td>
                            Sethu Institute of Technology,Virudhunagar
                          </td>
                        </tr>
                        <tr>
                          <td>
                            6
                          </td>
                          <td>
                            MATHS
                          </td>
                          <td>
                            PSNA College of Engineering and Technology,Dindigul
                          </td>
                        </tr>
                        <tr>
                          <td>
                            7
                          </td>
                          <td>
                            Bio Tech
                          </td>
                          <td>
                            Lady Doak College,Madurai
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
